body{
  text-align: center;
}

.broadway-header{
  background-image: url("images/the-flatiron-building.png");
}

.broadway-header h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;


}
